<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.jsplec.ex.HelloWorld</servlet-class>
  </servlet>
  
  <display-name>WebTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- <servlet>
    <description></description>
    <display-name>FormEx</display-name>
    <servlet-name>FormEx</servlet-name>
    <servlet-class>com.jsplec.ex.FormEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormEx</servlet-name>
    <url-pattern>/FormEx</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>InParameterEx</display-name>
    <servlet-name>InParameterEx</servlet-name>
    <servlet-class>com.jsplec.ex2.InParameterEx</servlet-class>
 <!--    <init-param>
        <param-name>dbId</param-name>
        <param-value>abcde</param-value>
    </init-param>
    <init-param>
        <param-name>dbPwd</param-name>
        <param-value>1234</param-value>
    </init-param>
    <init-param>
        <param-name>dbSid</param-name>
        <param-value>orcl</param-value>
    </init-param>
    <init-param>
        <param-name>testId</param-name>
        <param-value>123</param-value>
    </init-param> -->
  
  </servlet>
<!--   <servlet-mapping>
    <servlet-name>InParameterEx</servlet-name>
    <url-pattern>/InParameterEx</url-pattern>
  </servlet-mapping> -->
</web-app>