<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="5.0">
	<servlet>
		<description></description>
		<display-name>HelloWorld</display-name>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>com.jsplec.ex.HelloWorld</servlet-class>
	</servlet>
	<display-name>WebTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.jsplec.ex2.ContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>dbId</param-name>
		<param-value>abcde</param-value>
	</context-param>
	<context-param>
		<param-name>dbPwd</param-name>
		<param-value>1234</param-value>
	</context-param>
	<context-param>
		<param-name>dbSid</param-name>
		<param-value>orcl</param-value>
	</context-param>
	<context-param>
		<param-name>testId</param-name>
		<param-value>123</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>InParameterEx</display-name>
		<servlet-name>InParameterEx</servlet-name>
		<servlet-class>com.jsplec.ex2.InParameterEx</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>InParameterEx2</display-name>
		<servlet-name>InParameterEx2</servlet-name>
		<servlet-class>com.jsplec.ex2.InParameterEx2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InParameterEx2</servlet-name>
		<url-pattern>/InParameterEx2</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ListenerTest</display-name>
		<servlet-name>ListenerTest</servlet-name>
		<servlet-class>com.jsplec.ex2.ListenerTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListenerTest</servlet-name>
		<url-pattern>/ListenerTest</url-pattern>
	</servlet-mapping>
</web-app>